.food_card {
  background-color: darkorange;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 8px;
}
header {
  background: #ffffff;
  box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
  display: flex;
  align-content: center;
}

* {
  box-sizing: border-box;
}
.header_item {
  display: flex;
  align-items: center;
  height: 72px;
}

.header_text-to {
  color: #626262;
  width: 14px;
  height: 19px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  margin-right: 7px;
}
.header_btn {
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  padding: 12px 8px;
  background: none;
  color: #1d1d1d;
  font-family: "Roboto", sans-serif;
}

.header_btn.dark {
  border: 1px solid #262626;
  color: #ffffff;
  background: #262626;
  margin-left: 16px;
}
.header_image_left {
  margin-right: 13px;
  margin-left: 7px;
}
.header_image_right {
  margin-right: 4px;
  margin-left: 25px;
}
.header_location {
  width: 292px;
  font-family: "Roboto", sans-serif;
  background: none;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  padding: 12px 8px;
  color: #121212;
  background: url(IMG/Group.svg) no-repeat center left 7px;
  padding-left: 23px;
}
::-webkit-input-placeholder {
  color: black;
}
button {
  cursor: pointer;
}
