.food_card {
  background-color: darkorange;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 8px;
}
header {
  background: #ffffff;
  box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
}

* {
  box-sizing: border-box;
}
.header_logo {
  height: 72px;
}
