.hat {
  height: 80px;
  background-color: rgb(139, 243, 139);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 95px;
  padding-right: 95px;
}

button {
  height: 20px;
  background-color: mediumturquoise;
}
.button_1 {
  margin-right: 10px;
}
